{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
<meta charset="UTF-8">
<title>My Multi‑Language CMS</title> 
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<nav class="navbar">
<div class="title">My Multi‑Language CMS</div>
<ul>
<li><a href="/">{% trans "Home" %}</a></li>
<li><a href="/services/">{% trans "Services" %}</a></li>
<li><a href="/contact/">{% trans "Contact" %}</a></li>


<li class="dropdown">
<span>{% trans "Language" %} ▼</span>
<div class="dropdown-content">
    <form action="{% url 'set_language' %}" >{% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <button name="language" value="en" > <a style="color: black;" href="/en/">en-English</a></button>
        <button name="language" value="fr"> <a style="color: black;"  href="/fr/">fr-Français</a></button>
        <button name="language" value="es"> <a style="color: black;"  href="/es/">es-Español</a></button>
        <button name="language" value="de"> <a style="color: black;"  href="/de/">de-Deutsch</a></button>
    </form>
</div>
</li>
</ul>
</nav>


<div class="container">
{% block content %}{% endblock %}
</div>


</body>
</html>
 